.stats-cards {
  .mat-card {
    overflow: hidden;
   }
}

table {
  width: 100%;
}
.more-button {
  position: absolute;
  top: 4px;
  right: 1px;
}
.app-fab {
  position: fixed !important;
  top: 80px;
  right: 10px;
}

